---

---
<div class="banner">
    <h2>CARILO <br>PAISAJE PROTEGIDO</h2>
    <p>asosiacion civil</p>
</div>

<style>
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url("https://bosquespinamar.com/img/new/galeria-dos.jpg");
        background-position: center;
        background-size: cover;
        padding: 5vw 0rem;
    }
    h2{
        text-align: center;
        color: white;
        font-size: 5vh;
        margin: 0;
        padding: 2rem 0rem 0rem 0rem;
    }
    p{
        color: white;
    }
</style>
