---
---

<div class="boton">
    <a href="/asociate">Asociate</a>
</div>

<style>
    .boton a{
        padding: 1rem;
        color: white;
        text-decoration: none;
        padding: .6rem ;
        background-color: rgb(17, 110, 59);
        border-radius: 10px;
        transition: 500ms;
    }
    .boton a:hover{
        background-color: rgb(11, 78, 41);

    }
    @media screen and (max-width: 720px) {
        .boton a{
        padding: .4rem;
        padding: 0;
        background-color: whitesmoke;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.726);
        font-size: 4vw;
        font-weight: 600;
    }
        .boton a:hover{
            background-color: whitesmoke;
        }
    }
</style>