---
---

<div class="card">
    <img src="https://bosquespinamar.com/img/new/galeria-dos.jpg" alt="logo de bosques">
    <div class="txt">
        <h2>Titulo</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptatem.</p>
        <a href="#">Ver mas</a>
    </div>
</div>

<style>
    .card{
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        width: 20rem;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .card img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .txt{
        margin: 0rem 1rem 1rem 1rem;
    }

</style>

