 ---

---

<div class="contacto">
    <h2>Contacto</h2>
    <p>Completa el siguiente formulario o contactanos por <a href="#">Whatsapp</a></p>
    <form method="POST" class="formulario" data-netlify="true">
        <label>Nombre</label>
        <input type="text" name="Nombre" required>

        <label>Correo Electronico</label>
        <input type="text" name="email" required>

        <label>Telefono</label>
        <input type="number" name="Numero" required>

        <label>Mensaje</label>
        <textarea name="Mensaje"></textarea>

        <input class="boton" type="submit" value="enviar">
        
    </form>
</div>

<style>
    .contacto{
        width: 400px;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .4rem;
    }
    a{
        color: green;
    }
    input{
        border: 1px solid gray;
        border-radius: 6px;
        font-size: 1rem
    }
    textarea{
        border: 1px solid gray;
        border-radius: 6px;
        font-size: 1rem;
    }
    .boton{
        margin-top: 1rem;
        width: 5rem;
        background-color: rgb(21, 107, 78);
        color: white;
        padding: .8rem 1rem .8rem 1rem;
        border:0px;
        border-radius: 10px;
    }
    @media screen and (max-width: 944px) {
        .contacto{
            margin: 1rem;
        }
    }
</style>