---

---

<div class="contacto">
    <h2>Contacto</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, mollitia!</p>
    <form method="POST" class="formulario" data-netlify="true">
        <label>Nombre</label>
        <input type="text" placeholder="Escribe tu nombre">

        <label>Correo Electronico</label>
        <input type="text" placeholder="Correo electronico">

        <label>Telefono</label>
        <input type="number" placeholder="Escribe tu Telefono">

        <label>Mensaje</label>
        <textarea placeholder="Escribe tu mensaje"></textarea>

        <input type="submit" value="enviar">
    </form>
</div>

<style>
    .contacto{
        width: 400px;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @media screen and (max-width: 944px) {
        .contacto{
            margin: 1rem;
        }
    }
</style>