---

---
<div class="contacto">
    <div class="contac">
        <h2><strong>Contacto:</strong></h2>
        <h4>whatsapp: +54 2254 59 4439</h4>
        <h4>mail: acavaelEmail@gmail.com</h4>
    </div>
    <div class="seguinos">
        <h2><strong>Seguinos:</strong></h2>
    </div>
</div>

<style>
    .contacto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    h2{
        margin: .3rem;
    }
    h4{
        margin: .3rem;
    }
</style>