---
import Logo from './footerImg.astro'
import Contacto from './footerContacto.astro'
---
<div class="footer">
    <Logo />
    <Contacto />
</div>

<style>
    .footer{
        display: flex;
        justify-content: space-around;
        color: white;
        align-items: center;
        padding: 2rem;
        background-color: rgb(21, 107, 78);
    }
    @media screen and (max-width: 720px){
        .footer{
            flex-wrap: wrap;
            justify-content: start;
            align-items: flex-start;
        }
    }
</style>