---
---
<div class="img">
    <img src="https://img.freepik.com/free-photo/vertical-aerial-shot-green-full-spruce-fir-forest-daylight_181624-42920.jpg?w=740" alt="">
</div>

<style>
    img{
        display: flex;
        width: 300px;
        height: 100%;
    }
</style>