---
---
<div class="texto">
    <h2>Ley N128344</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Ipsam expedita at dolor blanditiis esse quidem deserunt repellat, 
         facere iste veniam officiis sit, eum illo ea tempora cumque asperiores,
          aliquid praesentium dignissimos odit voluptatem earum atque. Sint quasi
           nobis eligendi, sit recusandae quod, delectus, in tempora distinctio 
           quia minus hic rem.</p> 
</div>

<style>
    .texto{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        max-width: 400px;
        margin: 2rem;
    }
    h2{
        color: white;
        margin: 0;
    }
    p{
        color: white;
        line-height: 2cap;
    }
</style>