---
---
<div class="texto">
    <h2>LEY 12099 Paisaje Protegido</h2>
    <p>Declárase de interés provincial, el paisaje protegido y el desarrollo ecoturístico de la localidad Parque Carilo.
        Esta localidad está delimitada por la Ruta Provincial no 11 al Oeste; el Océano Atlán-tico, al Este; las calles Corbeta Agradable y Sequola, al Norte y la Avenida Constancia, al Sur del Partido de Pinamar.
        Por desarrollo ecoturístico se entiende el desarrollo del turismo asociado a la preservación integral de las condiciones naturales
        del lugar.</p> 
</div>

<style>
    .texto{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        max-width: 400px;
        margin: 2rem;
    }
    h2{
        color: white;
        margin: 0;
    }
    p{
        color: white;
        line-height: 2cap;
    }
</style>