---
import Boton from '../components/buttonSuscriptrion.astro'
import Nosotros from '../components/nosotros.astro'
---
<div class="nav-bar">
    <a href="#nosotros">Nosotros</a>
    <a href="#">Mision</a>
    <a href="#">Novedades</a>
    <Boton />
</div>


<style>
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .nav-bar a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.726);
        font-size: 1.2rem;
        font-weight: 600;
    }
    @media screen and (max-width: 720px){
        .nav-bar a{
            font-size: 4vw;
        }
    }
    font-size: 4vw;
</style>