---
import Pdf from '../img/pdf.png'
---
<div class="contenido">
    <div class="texto primero">
        <h2>Quienes Somos</h2>
        <p>Somos un grupo de propietarios y residentes de <strong>Cariló</strong> unidos por el amor a nuestra localidad, sin distinción de ideologías políticas, creencias religiosas o intereses económicos. <br>
            Nos dedicamos a mantener y preservar los principios de la <strong>Ley 12099</strong>, así como a cuidar y proteger Cariló como un paisaje protegido para todos sus habitantes, propietarios y turistas. ¡Únete a nosotros en este importante esfuerzo!</p>
    </div>
    <div class="texto">
        <h2>Nuestra Misión</h2>
        <p>Nuestra misión es crear conciencia entre propietarios y residentes de la localidad sobre la necesidad de involucramos en la defensa de nuestro <strong>Paisaje Protegido</strong> y actuar en conjunto con las autoridades públicas para mejorar y garantizar la calidad de vida acorde con los principlos rectores del <strong>Parque Cariló.</strong></p>
        <a class="pdf" href="#">Descargar estatuto <img class="pdf_logo" src= {Pdf.src} alt=""> </a>
    </div>
</div>

<style>
    .contenido{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;
        gap:2rem;
        margin-top: 1rem
    }
    .texto{
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        max-width: 500px;
    }
    h2{
        font-size: 1.5rem;
        margin: 0;
    }
    .pdf{
        display: flex;
        align-items: center;
        gap: .5rem;
        border: 1px solid red;
        padding: .4rem;
        border-radius: 20px;
        color: red;
        text-decoration: none;
    }
    .pdf_logo{
        width: 2rem;
    }
</style>