---

---
<div class="imagen">
    <img src="https://img.freepik.com/free-photo/beautiful-forest-view-daylight_23-2148866343.jpg?w=740" alt="">
</div>

<style>
    .imagem{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem ;
    }
    img{
        max-width: 22rem;
        margin: 2rem;
    }
    @media screen and (max-width: 720px){
        img{
            width: 100%;
            margin: 0;
        }
    }
</style>