---

---
<div class="imagen">
    <img src="https://img.freepik.com/free-photo/beautiful-forest-view-daylight_23-2148866343.jpg?w=740" alt="">
</div>

<style>
    img{
        max-width: 20rem;
        margin: 2rem 2rem 2rem 4rem;
    }
</style>